
# Godot-specific ignores
.import/
export.cfg

# Mono-specific ignores
.mono/
data_*/

build/
logs/

# GDNative products
src/native/*.dll
src/native/*.dylib
src/native/*.so
src/native/*.wasm


# My own folder of test images that I don't want to track
ignoredimages/
